ErrorDocument 404 /404.php
Options -Indexes

RewriteEngine on

# TEST -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^test                                                            pages/test/index.php
RewriteRule ^add-test                                                        pages/test/test-add.php
RewriteRule ^edit-test/([a-zA-Z0-9_]+)                                       pages/test/test-edit.php?id=$1 [NC,L]
RewriteRule ^view-test                                                       pages/test/index.php
RewriteRule ^test                                                            pages/test/index.php
RewriteRule ^submit-add-test                                                 functions/test/test-add.php
RewriteRule ^submit-edit-test/([a-zA-Z0-9_]+)                                functions/test/test-edit.php?id=$1 [NC,L]
RewriteRule ^submit-delete-test/([a-zA-Z0-9_]+)                              functions/test/test-delete.php?id=$1 [NC,L]

# LOGIN -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^login                                                           pages/login/index.php
RewriteRule ^submit-login												     functions/login/verifylog.php [NC,L]
RewriteRule ^logout												             functions/login/logout.php

# WEBINAR AND EVENTS -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^o-webinar-and-events                                            pages/webinar-and-events/o-index.php [NC,L]
RewriteRule ^webinarandevents                                                pages/webinar-and-events/index.php
RewriteRule ^add-webinar-and-events                                          pages/webinar-and-events/webinar-events-add.php
RewriteRule ^edit-webinar-and-events/([a-zA-Z0-9_]+)                         pages/webinar-and-events/webinar-events-edit.php?id=$1 [NC,L]
RewriteRule ^submit-add-webinar-and-events                                   functions/webinar-and-events/webinar-events-add.php
RewriteRule ^submit-edit-webinar-and-events/([a-zA-Z0-9_]+)                  functions/webinar-and-events/webinar-events-edit.php?id=$1 [NC,L]
RewriteRule ^submit-delete-webinar-and-events/([a-zA-Z0-9_]+)                functions/webinar-and-events/webinar-events-delete.php?id=$1 [NC,L]


# DOCUMENTS -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^o-documents                                                      pages/documents/o-index.php [NC,L]
RewriteRule ^add-document                                                     pages/documents/document-add.php
RewriteRule ^edit-document/([a-zA-Z0-9_]+)                                    pages/documents/document-edit.php?id=$1 [NC,L]
RewriteRule ^view-documents                                                   pages/documents/index.php
RewriteRule ^documents                                                        pages/documents/index.php
RewriteRule ^submit-add-document                                              functions/documents/document-add.php
RewriteRule ^submit-edit-document/([a-zA-Z0-9_]+)                             functions/documents/document-edit.php?id=$1 [NC,L]
RewriteRule ^submit-delete-document/([a-zA-Z0-9_]+)                           functions/documents/document-delete.php?id=$1 [NC,L]
RewriteRule ^delete-file/([a-z]+)/([a-zA-Z0-9_]+)                             functions/documents/file-delete.php?src=$1&id=$2 [NC,L]
RewriteRule ^document-files/([a-zA-Z0-9_]+)                                   pages/documents/document-files.php?id=$1 [NC,L]


# USERS -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^o-teams                                                         pages/users/index.php
#RewriteRule ^user-profile/([a-zA-Z0-9_]+)								     pages/users/user-profile.php?id=$1 [NC,L]

# ANNOUNCEMENTS -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^o-announcements                                                 pages/announcements/o-index.php [NC,L]
RewriteRule ^add-announcements                                               pages/announcements/announcements-add.php
RewriteRule ^edit-announcements/([a-zA-Z0-9_]+)                              pages/announcements/announcements-edit.php?id=$1 [NC,L]
RewriteRule ^view-announcements                                              pages/announcements/index.php
RewriteRule ^announcements                                                   pages/announcements/index.php
RewriteRule ^submit-add-announcements                                        functions/announcements/announcements-add.php
RewriteRule ^submit-edit-announcements/([a-zA-Z0-9_]+)                       functions/announcements/announcements-edit.php?id=$1 [NC,L]
RewriteRule ^submit-delete-announcements/([a-zA-Z0-9_]+)                     functions/announcements/announcements-delete.php?id=$1 [NC,L]

# DASHBOARD -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^dashboard                                                       pages/dashboard/index.php [NC,L]

# TEAMS -----------------------------------------------------------------------------------------------------------------------------------
RewriteRule ^teams                                                           pages/teams/index.php
RewriteRule ^add-team                                                        pages/teams/team-add.php
RewriteRule ^edit-team/([a-zA-Z0-9_]+)                                       pages/teams/team-edit.php?id=$1 [NC,L]
RewriteRule ^submit-add-team                                                 functions/teams/team-add.php
RewriteRule ^submit-edit-team/([a-zA-Z0-9_]+)                                functions/teams/team-edit.php?id=$1 [NC,L]
RewriteRule ^submit-delete-team/([a-zA-Z0-9_]+)                              functions/teams/team-delete.php?id=$1 [NC,L]

# ADMINS ------------------------------------------------------------------------------------------------
RewriteRule ^admins													        pages/admins/admins.php [NC,L]
RewriteRule ^admin/([a-zA-Z0-9_]+)$									        pages/admins/admin.php?id=$1 [NC,L]
RewriteRule ^add-admin												        pages/admins/admin-add.php [NC,L]
RewriteRule ^submit-add-admin										        functions/admins/admin-add.php [NC,L]
RewriteRule ^edit-admin/([a-zA-Z0-9_]+)								        pages/admins/admin-edit.php?id=$1 [NC,L]
RewriteRule ^submit-edit-admin										        functions/admins/admin-edit.php [NC,L]
RewriteRule ^delete-admin											        functions/admins/admin-delete.php [NC,L]


# ROLES ------------------------------------------------------------------------------------------------
RewriteRule ^roles													        pages/roles/roles.php [NC,L]
RewriteRule ^role/([a-zA-Z0-9_]+)									        pages/roles/role.php?id=$1 [NC,L]
RewriteRule ^add-role												        pages/roles/role-add.php [NC,L]
RewriteRule ^submit-add-role										        functions/roles/role-add.php [NC,L]
RewriteRule ^edit-role/([a-zA-Z0-9_]+)								        pages/roles/role-edit.php?id=$1 [NC,L]
RewriteRule ^submit-edit-role										        functions/roles/role-edit.php [NC,L]
RewriteRule ^delete-role											        functions/roles/role-delete.php [NC,L]

# USERS ------------------------------------------------------------------------------------------------
RewriteRule ^users													        pages/users/users.php [NC,L]
RewriteRule ^user/([a-zA-Z0-9_]*)									        pages/users/user.php?id=$1 [QSA,L]
RewriteRule ^add-user												        pages/users/user-add.php [NC,L]
RewriteRule ^submit-add-user										        functions/users/user-add.php [NC,L]
RewriteRule ^edit-user/([a-zA-Z0-9_]*) 								        pages/users/user-edit.php?id=$1 [NC,L]
RewriteRule ^submit-edit-user										        functions/users/user-edit.php [NC,L]
RewriteRule ^delete-user											        functions/users/user-delete.php [NC,L]
RewriteRule ^update-user-permission/([0-1]+)/([a-z-]+)/([a-zA-Z0-9_]+)	    /users/update-user-permission.php?mode=$1&code=$2&id=$3 [NC,L]
RewriteRule ^reset-user-pass/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)	            functions/users/user-reset-password.php?id=$1&eid=$2 [NC,L]
RewriteRule ^unlock-user/([a-zA-Z0-9_]+)	    					        functions/users/user-unlock-account.php?id=$1 [NC,L]
RewriteRule ^load-user-projects										        functions/users/user-projects.php [QSA,L]

# USERS ------------------------------------------------------------------------------------------------
RewriteRule ^general												        pages/general/index.php [NC,L]
RewriteRule ^edit-general/([a-zA-Z0-9_]+)                                   pages/general/general-edit.php?id=$1 [NC,L]
RewriteRule ^submit-edit-general/([a-zA-Z0-9_]+)                            functions/general/general-edit.php?id=$1 [NC,L]

