section.main-area.col-s-9.d-column.mb-4 {
  margin: 70px 0 0;
  min-height: 100vh;
}
  .col_4_2_1 img {
    width: 100%;
    box-shadow: 2px 2px grey;
  }
  span.center.mt-2 {
    font-size: 12px;
    color: #000;
}

span.center.mt-2:hover {
  color: var(--blue);
}

.list-inline-item img{
  margin-bottom: 10px;
}

  @media only screen and (min-width: 1280px) {
    .announcement-row  li{
    width: calc(24% - (2px*3) /4);

    }
    .announcement-row  li{
      margin-right: 10px;
    }
  }
  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .announcement-row  li{
    width: calc(50% - (2px*1) /2);
    }
    .announcement-row  li{
      margin: 5px 2px 0 0;
    }
    .announcement-row  li:nth-child(2n) {
      margin: 5px 0 0 0;
    }
    .announcement-row  li:nth-child(-n+2) {
      margin: 0 2px 0 0;
    }
    .announcement-row  li:nth-child(2) {
      margin: 0;
    }
  }
  @media only screen and (max-width: 425px) {
    .announcement-row  li{
      width: 100%;
    }
    .announcement-row  li + li{
      margin: 5px 0 0;
    }
  }

  /* New Edits */
  .list-inline h3 {
    margin: 0;
    color: var(--black);
    text-transform: uppercase;
    border-bottom: 1px solid var(--gray);
    padding-top: 5px;
  }
  .modal-img {
    border-radius: 5px;
  }
  p.modal-name {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }