/* OVERRIDES */
html {
	font-size: 12px;
}
hr {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.content-wrapper {
	/* min-height: auto !important; */
	padding-bottom: 2.5rem;
}
.swal2-popup.swal2-toast .swal2-title {
	margin-left: 10px;
}
.card-header > .card-tools {
	margin-top: -.25rem;
	margin-bottom: -.25rem;
}
.card-title {
	font-size: 1.4rem;
}
.card-footer {
	padding: .75rem;
}
.table-data td, .table-data th {
	padding: .3rem .5rem;
}
.modal-content {
	border: 0;
	border-radius: .5rem;
}
.modal-header {
	border-top-left-radius: .5rem;
	border-top-right-radius: .45rem;
}
.modal-footer {
	justify-content: flex-end !important;
}
table thead th {
	/* text-transform: uppercase; */
}
.select2 {
	width: 100%;
}
.select2-container--default .select2-selection--single {
	padding: 4px 12px;
}
.content-header {
	padding: 15px 15px 10px;
}
.content-header .breadcrumb {
	font-size: 1.2rem;
}
.info-container {
	display: none !important;
}
.bootstrap-duallistbox-container option {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.bootstrap-duallistbox-container option:last-child {
	border-bottom: 0;
}
.bootstrap-duallistbox-container .btn-group {
	display: none;
}
form .note-editor.note-frame .note-editing-area .note-editable {
	min-height: 200px;
}
.badge {
	padding: .4em .5em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navbar-portal .dropdown-toggle::after {
	margin-left: 1em;
}
.timeline>div>.timeline-item>.timeline-header {
	background: rgba(0,0,0,0.03);
}
.table-hover tbody tr:hover {
	background-color: rgba(0,0,0,.05) !important;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: rgba(0,0,0,0.025);
}
.table-striped tbody tr.row-disabled {
	background-color: rgba(0,0,0,.01) !important;
	color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 22px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	margin-top: -5px;
}
.select2-container--default .select2-results__option {
	padding: 3px 10px;
}
.user-panel img {
	width: 25px;
	height: 25px;
}
.nav-treeview {
	margin-left: 1rem;
	-webkit-transition: margin 250ms ease;
	-moz-transition: margin 250ms ease;
	-o-transition: margin 250ms ease;
	transition: margin 250ms ease;
}
.sidebar-collapse .nav-treeview {
	margin-left: 0;
}
.sidebar-collapse .sidebar:hover .nav-treeview {
	margin-left: 1rem;
}
.nav-sidebar .nav-treeview {
	padding-bottom: 0.1rem;
}

/* GENERAL */
.clear {
	clear: both;
	display: block;
}
.btn-clear-roles {
	text-transform: uppercase;
}
#loader {
	display: none;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: rgba(0,0,0,.75);
}
.loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10001;
}
.loading img {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}
.server-date {
	margin-top: 5px;
	margin-bottom: 0;
}

/* TABLE DATA */
.table-data .user-photo {
	margin-top: -.3rem;
	margin-bottom: -.3rem;
	margin-left: -.5rem;
	margin-right: .5rem;
	width: 25px;
	height: 25px;
}
.table-data.with-options tbody tr td:last-child a {
	margin-right: 5px;
}
.table-data.with-options tbody tr td:last-child a:last-child {
	margin-right: 0;
}
.table-data.with-options a {
	width: 20px;
}
.system-log-table td:last-child {
	width: 112px;
}
.ticket-priority-col {
	min-width: 50px;
}
.ticket-tags-col {
	width: 250px;
}
.time-lapsed-col {
	min-width: 90px;
}
.name-col {
	width: 150px;
}
.data-filter-tab {
	margin-top: -8px;
}
.table-responsive.with-y-scroll {
	max-height: 500px;
	overflow-y: auto;
}

/* PERMISSIONS LIST */
.permissions-list, .permissions-group {
	margin: 0;
	padding: 0;
}
.permissions-list li, .permissions-group li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.permissions-list > li {
	clear: both;
	border-right: 1px solid #eee;
}
.permissions-list > li:last-child {
	border-right: 0;
}
.permissions-group {
	overflow: hidden;
}
.permissions-group > li {
	float: left;
	margin-bottom: .5rem;
	margin-right: .5rem;
}

/* PORTAL */
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.5);
}
.downloads .btn {
	text-align: left;
}
.announcement {
	margin-bottom: 1rem;
	
	padding: 1rem;
	background-color: #fff;
	border-radius: .25rem;/* 
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24); */
}

/* WIDTHS */
.w100 {
	width: 100px;
}
.w120 {
	width: 120px;
}
.w150 {
	width: 150px;
}
.w170 {
	width: 170px;
}
.w200 {
	width: 200px;
}
.w30p {
	width: 30%;
}
.w350 {
	width: 350px;
}
.w300 {
	width: 300px;
}

.name-readonly {
	background-color: #ffffff !important;
}
.na-strike {
	text-decoration: line-through;
	opacity: 0.5;
}

