.dash-cardbox{
    border-radius: 20px !important;
}
.dash-number{
    font-size: 2.5rem;
    font-weight: 700;
}
.dash-title{
    font-size: 2rem;
    font-weight: 700;
}
.dash-desc span{
    font-size: 1rem;
    letter-spacing: 0.03rem;
    display: inline-block;
    max-width: 250px;
}
.user-cardbox{
    /* background-color: #006DD3 ; */
    background-image: linear-gradient(to right, #4b90db, #4673FD);
}
.webinar-cardbox{
    /* background-color: #B57B00 ; */
    background-image: linear-gradient(to right, #30aed1, #30A1FE);
}
.announcement-cardbox{
    /* background-color: #3F8005 ; */
    background-image: linear-gradient(to right, #52b88d, #05C4A1);
}
.footer-cardbox{
    border-radius: 0 0 20px 20px;
}


.nav-tabs .nav-link{
    content: '';
    top: -18px;
    width: 205px;
    height: 60px;
    border: 1px solid #000;
    background-color: #E0E5F1;
    border-radius: 25px 0 0 0 !important;
    clip-path: path('M 0 0 L 160 0 C 190 0, 180 55, 220 50 L 0 50 z');
}
.nav-tabs .nav-link.active{
    background: white;
}
.nav-tabs .nav-item{
    margin-bottom: -10px !important;
    border: 0 !important;
}
.nav-tabs{
    border-bottom: 0 !important;
}
.tab-content{
    background-color: #fff;
    border-radius: 0px 20px 20px 20px;
}

.custom-badge-dashboard{
    background-color: #05C4A1;
    color: white;
}