
:root{
  --blue: #006DD3;
  --gray: #E7E7E7;
  --dark-gray: #606060;
  --white: #fff;
  --black: #121212;
}
body p, a{
  font-size: 1.1rem;
}
.modal {
  overflow-y: auto;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 20px 30px;
}
p.modal-name,
p.modal-details {
  color: var(--white);
  font-size: 16px;
  margin: 0 auto;
  width: 600px;
  text-align: justify;
}
body.modal-open {
  overflow: hidden;
}

h3.webinarandevent0 {
  color: #000;
  font-size: 1.3rem;
  text-transform: none;
}
ul.user-list-item {
  font-size: 15px;
}
.btn:hover{
  opacity: 0.8;
}
.close {
  float: none;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 0; 
  color: var(--white);
  background-color: var(--blue);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  z-index: 100;
  opacity: unset;
  margin: 20px 0;
}
img.modal-img {
  height: 400px;
  object-fit: contain;
}
.btn {
  border-radius: 5px;
}
.btn .fa {
  margin-right: 10px;
 }
/* .btn-primary:hover {
  background-color: #5c000c;
  border-color: #5c000c;
} */
@media (min-width: 1200px) {
.container {
    max-width: 1300px !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
  text-transform: none;
}

    body {
      font-family: 'Source Sans Pro', sans-serif;
      color: var(--black);
      height: 100%;
    }
    * {
      box-sizing: border-box;
    }  
    .container {
      margin-right: 40px;
      width: 90%;
    }
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
    [class*="col-"] {
      float: left;
    }
    
    .header {
      color: #ffffff;
      padding: 15px;
    }
    
    a.nav-link.js-scroll-trigger {
      padding: 10px 12px;
    }
    .nav-link .fa {
      width: 10px;
      margin-right: 15px;
      font-size: 15px;
    }
    .nav-icon{
      font-size: 18px !important;
      margin-right: 10px !important;
    }
    .menu li a {
      color: #111;
      list-style-type: none;
      margin: 0;
    }
    .nav-title {
      padding: 0 7px;
    }
    .img-logo {
      width: 210px;
      margin: 5px 15px 20px;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    nav ul {
      list-style: none;
      padding-left: 13px;
      padding-right: 0;
    }
  
    nav li {
        margin-block: 5px;
    }
    
    .menu li a:hover {
      color: var(--blue);;
      background-color: var(--gray);
      border-radius: 5px;
    }
    i.fa.fa-arrow-right {
      float: right;
      padding: 5px 10px;
    }
    a.nav-link.js-scroll-trigger.active {
      color: var(--blue);;
      background-color: #ebebeb;
      border-radius: 5px;
      font-weight: bold;
    }
    i#fa {
        float: right;
        padding: 3px 34px;
    }
    .col-3.col-s-3.menu {
      position: relative;
      padding: 45px 7px 7px;
      box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
      clip-path: inset(0px -15px 0px 0px);
      margin-left: 50px;
      min-height: 100%;
      height: 100vh;
      left: 0;
      position: fixed;
    }
    .col-8.col-s-9 h2 {
      margin-bottom: 0;
      padding: 31px 0 20px;
    }
    h1 {
        font-weight: 700;
        color: var(--blue);;
    }
    
    .nav-title h1 {
      font-size: 1.7rem;
    } 

    .main-area h2 {
      font-size: 1.95rem;
      font-weight: 100;
      /* font-style: italic; */
      /* padding: 32px 15px 20px; */
      margin: 0;
      color: #000;
    }

    .announcement li {
      padding: 5px 0;
    }
    .announcement li a {
      color: #000;
    }
    .announcement ul {
      list-style-type:none;
      padding-left:  0;
      transition: 0.2s;
    }
    .announcement li a:hover {
        color: var(--blue);
        text-decoration: underline;
    }
    .webinar-row {
        overflow: hidden;
        display: flex;
        justify-content: end;
    }
    .aside {
      background-color: #33b5e5;
      padding: 15px;
      color: #ffffff;
      text-align: center;
      font-size: 14px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .clearfix {
        max-width: 1000px;
    }
    h3.webinarandevent0 {
      width: 100%;
      color: #cc112b;
    }

    img.myImg {
      width: 210px;
    }
    .list-inline-item{
      width: 200px;
    }
    .list-inline-item:not(:last-child) {
       margin-inline: 5px;
    }
    .list-inline-item img {
      width: 200px;
      height: 140px;
      object-fit: cover;
      border-radius: 5px;
      border: 1px solid var(--gray);
      transition: transform 0.2s;
    }
    .list-inline-item img:hover {
      transform: scale(1.03);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .footer {
      background-color: var(--gray);
      color: #000;
      font-size: 12px;
      position: relative;
      bottom: 0;
      width: 100%;
      z-index: 1;
      border-bottom: 10px solid var(--blue);
    } 
    .footerBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-block: 10px;
      padding-inline: 20px;
    }
    .footerLeft p {
      margin-bottom: 0;
    }
    .footerRight {
      width: 120px;
  }
    .footerRight img {
        width: 50px;
        float: right;
    }
}
.content-wrapper{
  height: 100vh;
}

    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    @media (min-width: 992px) {
    .p-lg-5 {
        padding: 0 0 1rem!important;
    }
    }
    
    @media only screen and (min-width: 600px) {
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 22%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
      .main-area {width: 75%;}
    }
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 22%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      .main-area {overflow: hidden;max-width: 75%;}
    }
    @media only screen and (min-width: 768px) {
        .main-area {
            float: right;
        }
    }

