img {
    width: 216px;
}
.user-list-item li {
    padding: 10px 2px;
    float:left;
    text-align: center;
}
select#multiSelectSearch {
    border-radius: 5px;
    border: solid 1.4px;
    width: 191px;
    padding: 5px 12px;
    float: right;
}
section.main-area.col-s-9.d-column.mb-4 {
    margin: 70px 0 0;
}
ul.user-list-item {
    overflow: hidden;
    padding: 11px 0;
}
li.list-inline-item {
    width: 210px;
}
ul {
    list-style-type: none;
}
li b {
    font-size: 14px;
}

#team .list-inline-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #9A9A9A;
  filter: contrast(100%) grayscale(100%);
  transition: transform 0.2s;
  box-shadow: none;
}

#team .list-inline-item img:hover{
  filter: none;
  opacity: 1;
  transform: scale(1.03);
}

#team .list-inline-item b {
  font-weight: normal;
}
#team .list-inline-item b:first-of-type {
  font-size: 16px;
  color: var(--blue);
  font-weight: 700;
}
#team .list-inline-item b:last-of-type {
  font-size: 12px;
  color: #111;
}