section.main-area.col-s-9.d-column.mb-4 {
    margin: 70px 0 0;
}
li.list-dl-item {
    float: left;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #777;
    margin: 4px 0;
    cursor: cell;
}

ul.list-inline.mb-4 {
    overflow: hidden;
  }

.list-inline li:hover {
    background: #cc112b;
    color: #fff;
}
  