img.myImg {
    width: 400px;
    float: left;
}

.profile-rigt {
    float: left;
    width: 525px;
    padding: 30px 20px;
}
.details,
.name {
    margin-bottom: 20px;
}
.name {
    font-size: 1.2rem;
    text-transform: uppercase   ;
}
p {
    margin: 3px;
}